
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    

}

body{
    padding-top: 15px;
    margin: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
    scroll-behavior: smooth;
}
:root{
    --color-blue:#14213D;
    --color-black:#000000ed;
    --color-yellow:#FCA311;
    --color-silver:#E5E5E5;
    --color-silver-dark:#353434;
}


.header{
    width: 100%;
    background-color:#282828;
    padding: 1rem;
    color: white;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-h1{
    font-weight: 700;
    font-size: 2rem;
    box-shadow:2px 2px #FCA311,
    3px 3px white;
    padding: 5px;
}
.header-nav{
    width: 100%;
}
.header-button{
    display: none;
    background-color: #0d1525;
    
    cursor: pointer;
    pointer-events: pointer;
   
}
.header-button:hover{
    background-color: var(--color-blue);
}
.header-svg{
    width: 2em;
    height: 2em;
    fill: rgb(66, 105, 140);
    filter: invert(1);
}

.header-ul{
    display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     align-items: center;
   
     
}


.header-li{
    list-style: none;
}

.header-li:hover{
border-bottom: solid 2px var(--color-yellow);
 
}

.header-a{
    text-decoration: none;
    color: var(--color-silver);
    
}



@media screen and (max-width:480px){
    .header-nav{
        width: 100%;
        /* display: none; */

        /* formas de dar efecto */
        height: 0;
        transition: all .5s ease;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        
        


    }

    .header-h1{
        font-weight: 700;
        font-size: 0.8rem;
        box-shadow:1px 1px #FCA311,
        2px 2px white;
        
    }

    .header-nav.active{
       /*  display: block; */
       height: 50vh;

    }

    .header-button{
        margin-right: 2rem;
        display: flex;
        
    }

    .header-ul{
        flex-direction: column;
    }

    .header-li{
        margin: 1em 0;

    }



}

.main{
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-silver);
    
}

/* responsive */


.main-h1{
    padding: 0.5rem;
    width: 90%;
    font-size: 3rem;
    color: var(--color-black);
    border-bottom: solid var(--color-yellow);

}
.main-h2{
   margin: 1rem;
   font-size: 2rem;
}
.main-img{
    width: 60%;
    
    display: block;
    margin: 2rem auto;

}

.main-section{
    margin: 2em;
}

.main-p{
    margin-bottom: 1rem;
}

.main-li{
    margin:1em;
    text-align: start;
}

@media screen and (max-width:480px){

    .main-img{
        width: 80%;
    }
}

/* footer */

.footer{
    background-color: #282828;
    color: var(--color-silver);
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    align-items: center;
    box-shadow: 0-2px 2px var(--color-blue) ;

}

.footer-h1{
    flex-basis: 100%;
    text-align: center;
    padding: 1rem;
}

.footer-a{
    padding: 1rem;
    text-decoration: none;
    color: var(--color-silver);
    border-bottom: solid 2px var(--color-blue);
}

.footer-a:hover{
 color: #FCA311;
}


/* figuras planas */

/* section main  */



.main-figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scroll-margin: 3em;
    
}

.main-section-h2{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: var(--color-silver);
    background-color:var(--color-blue);
    padding: 1rem;
}

.main-section-h3{
    margin: 1rem 0;
    
}

.article-result{
    border: #14213D solid 2px;
    box-shadow:2px 2px 1px #282828;
    margin: 1rem;
    padding: 1rem;
    max-width: 800px;
    
}
.main-section-p-ul{
    text-align: start;
}

/* form */
.form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form input{
    text-align: center;
    padding: 3px;
    margin-bottom: 0.5rem;
    
}
.form label{
    font-weight: 700;

}

.form-submit,
.form-reset{
    background-color: var(--color-blue);
    color: var(--color-silver);
    font-weight: 700;
    border: none;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
    outline: none;
    text-align: center;
    box-shadow:1px 1px 2px   var(--color-yellow);
    cursor: pointer;
   
    
}

.form-submit:hover{
    background-color:var(--color-silver-dark);
    box-shadow:1px 1px 2px white;
    transition: all .3s ease-in;
}

.form-reset{
    background-color:var(--color-silver-dark);
}

.form-reset:hover{
    background-color: var(--color-blue);
    box-shadow:1px 1px 2px white;
    transition: all .3s ease-in;
}

.result-a,
.result-p{
    font-weight: 700;
}

.main-section-p-li{
    margin: 0.5em;
}

/* sidebar */

.sidebar{
    background-color: #ecbd7382;
    padding: 0.5rem;
    border-radius: 4px;
    position: sticky;
    top: 0;
    right: 0;
    
}

.sidebar >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.sidebar>ul >li{
    list-style: none;
}

.sidebar-li> a> img{
 width: 28px;
 height: 28px;
 filter: invert(1);
 cursor: pointer;
}


@media screen and (min-width:480px){

    .sidebar{
        width: 2.5em;
        top: 30vh;
        left: 4px;
    }

    .sidebar>ul{
        flex-direction: column;
    }
}